/* CSS PARA RESET DE ALGUNS ELEMENTOS */
body, ul{
    padding: 0;
    margin: 0;
}
a{
    color: #000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.89rem;
    
}
a:hover{
    background: rgba(0, 0, 0, 0.05);
}
/* CSS PARA ESTILIZAÇÃO DO HEADER PADRONIZADO E RESPONSIVO */
#logo{
    max-width: 30vw;
}
#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a{
    display: block;
    padding: .6rem;
    
}
#menu a:hover {
    background: rgba(0, 0, 0, .05);
}
a.active{
    background: rgba(0, 0, 0, .05);
}
#btn-mobile{
    display: none;
}


/* CSS DO FORMULÁRIO - INICIO */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #278be3, #195081, #000203);
}
.box{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 105vh;
    transform: translateY(5%);
    padding: 10px;
    border-radius: 20px;
    color: #e7e7e7;
}
fieldset{
    border: 3px solid #d44848;
    border-radius: 20px;
}
legend{
    border: 1px solid #d44848;
    padding: 10px;
    text-align: center;
    background-color: #d44848;
    border-radius: 5px;
    color: #fff;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none; 
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    outline: none;
    color: #e7e7e7;
    font-size: 15px;
    letter-spacing: 2px;
}
.inputLbl{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    color: #fff;
}
.inputUser:focus ~ .inputLbl,
.inputUser:valid ~ .inputLbl{
    top: -16px;
    font-size: 12px;
    background-color: #278be3;
}
#data_nasc{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,  #278be3, #195081, #000203 );
    width: 100%;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,#6413b5, #278be3, #195081, #6413b5);
}

/* CSS PARA RESPONSIVIDADE MOBILE */
@media (max-width: 650px ){
    body{
        font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #278be3, #195081, #000203);
    color: #fff;
    

    }
    #logo{
        max-width: 150px;
        margin: 0;
        padding: 0;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        
    }
    #nav.active #menu{  
        visibility: visible;
        height: calc(65vh - 70px);
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 3px;
        transition: .4s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent ;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -5px;  
    }
    .box{
        height: calc(650px);
    }
    
}
@media (min-width: 1200px){
    .box{
        height: calc(650px);
    }
}
@media (max-width: 1000px){
    .box{
        height: calc(620px);
    }
}
@media (max-width: 290px){
    .box{
        height: calc(630px);
    }
}