html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/ferramentas-esportivas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body, ul{
    padding: 0;
    margin: 0;
}
/* Inicio HEADER */
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.09rem;
    
}
a:hover{
    background: rgba(0, 0, 0, 0.301);
    color: #e5e5e5;
    border-radius: 25%;
    transform: scale(1.09); 
}
#header{
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background: #ffffff5e;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a{
    display: block;
    padding: .6rem;
    
}
#menu a:hover {
    background: rgba(0, 0, 0, 0.288);
}
a.active{
    background: rgba(0, 0, 0, 0.288);
}
#btn-mobile{
    display: none;
}
/* FIM DO HEADER */
/* TEXTO CENTRAL CARROSEL */
#topText{
    font-size: 2em;
    padding-top: 65px;
    text-align: center;
    color: #fff;
    text-decoration: overline underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: double;
    text-shadow: 5.4px 5.2px 11.8px rgba(0, 0, 0, 0.17),
                 12.5px 12px 23px rgba(0, 0, 0, 0.173),
                 22.6px 21.6px 34.5px rgba(0, 0, 0, 0.175),
                 37.9px 36.3px 48.9px rgba(0, 0, 0, 0.174),
                 65px 62.2px 71.2px rgba(0, 0, 0, 0.169),
                 141px 135px 102px rgba(0, 0, 0, 0.152);   
}


/*css de fora*/
.main .swiper-button-next{
    transform: translateY(-100%);  
}
.main .swiper-button-prev{
    transform: translateY(-100%); 
}
.main .swiper-pagination{
    position: relative;
    margin-top: 1em;  
} 
.sport{
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
    height: 350px;
    border-radius: 100px;
}
.main .swiper .swiper-wrapper .card-content .image .sport:hover{
    transform: scale(1.04);
    
}

/* Css Inicio Accordion */
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: auto;
    margin:0 auto;
}
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: rgba(4,57,94,.8);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordion-label:hover {
    background: rgba(4,57,94,1);
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: rgba(4,57,94,1);
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 23px;
}
input:checked + .accordion-label {
    background: rgba(4,57,94,1);
}
input:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
    background-color: #000000;
}

/* Fim css accordion */

h3{
    font-size: 2.2em;
    color: #ffffff;
    text-align: center;
    text-decoration: overline underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: double;
    text-shadow: 5.4px 5.2px 11.8px rgba(0, 0, 0, 0.17),
                 12.5px 12px 23px rgba(0, 0, 0, 0.173),
                 22.6px 21.6px 34.5px rgba(0, 0, 0, 0.175),
                 37.9px 36.3px 48.9px rgba(0, 0, 0, 0.174),
                 65px 62.2px 71.2px rgba(0, 0, 0, 0.169),
                 141px 135px 102px rgba(0, 0, 0, 0.152); 
}
p{
    font-size: 2em;
    text-align: center;
    color: #e7e7e7;
    text-shadow: 5px 5px 5px #000000;
    margin: 0;
    padding: 0;
}
/* CSS MAPS */
.map{
    text-align: center;
    margin-top: 0.7em;
    font-size: 2em;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 5px 5px 5px #000000;
}
.map #maps iframe{
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 2em; 
    box-shadow:
    -0.3px -0.3px 1.6px -6px rgba(0, 0, 0, 0.15),
    -0.1px -0.1px 4.1px -6px rgba(0, 0, 0, 0.197),
    0.7px 0.7px 7.8px -6px rgba(0, 0, 0, 0.225),
    2.3px 2.5px 12.9px -6px rgba(0, 0, 0, 0.242),
    5.2px 5.5px 19.6px -6px rgba(0, 0, 0, 0.254),
    9.8px 10.5px 28.3px -6px rgba(0, 0, 0, 0.262),
    17.4px 18.6px 39.5px -6px rgba(0, 0, 0, 0.268),
    30.4px 32.6px 53.3px -6px rgba(0, 0, 0, 0.273),
    56.3px 60.4px 68.9px -6px rgba(0, 0, 0, 0.279),
    124px 133px 80px -6px rgba(0, 0, 0, 0.29);
    min-width: 600px;
    min-height: 600px;
}
/* Fim do CSS mapa */
                        /* Inicio CSS FOOTER */
footer{
    justify-content: space-between;
    background-color: #ffffff5e;
    padding: 20px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 24px;
    color: #e7e7e7;
    text-shadow: 5px 5px 5px #000000;
    margin-bottom: 10px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #e5e5e5;
    text-shadow: 2px 2px 5px #000000;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
    transform: scaleY(1.4);
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border: solid #fff;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i:hover{
    transform: scale(2.2);
}

@media (max-width: 1040px){
    .main .swiper-button-next, .main .swiper-button-prev{
        margin-top: 9rem;
    }
    .map #maps iframe{
        margin: 0;
        padding: 0;
        border: 0;
        margin-bottom: 2em; 
        box-shadow:
        -0.3px -0.3px 1.6px -6px rgba(0, 0, 0, 0.15),
        -0.1px -0.1px 4.1px -6px rgba(0, 0, 0, 0.197),
        0.7px 0.7px 7.8px -6px rgba(0, 0, 0, 0.225),
        2.3px 2.5px 12.9px -6px rgba(0, 0, 0, 0.242),
        5.2px 5.5px 19.6px -6px rgba(0, 0, 0, 0.254),
        9.8px 10.5px 28.3px -6px rgba(0, 0, 0, 0.262),
        17.4px 18.6px 39.5px -6px rgba(0, 0, 0, 0.268),
        30.4px 32.6px 53.3px -6px rgba(0, 0, 0, 0.273),
        56.3px 60.4px 68.9px -6px rgba(0, 0, 0, 0.279),
        124px 133px 80px -6px rgba(0, 0, 0, 0.29);
        min-width: 600px;
        min-height: 600px;
    }
}
@media (max-width: 1199px){
    .main .swiper-button-next, .main .swiper-button-prev{
        margin-top: 1rem;
    }
    .map #maps iframe{
        margin: 0;
        padding: 0;
        border: 0;
        margin-bottom: 2em; 
        box-shadow:
        -0.3px -0.3px 1.6px -6px rgba(0, 0, 0, 0.15),
        -0.1px -0.1px 4.1px -6px rgba(0, 0, 0, 0.197),
        0.7px 0.7px 7.8px -6px rgba(0, 0, 0, 0.225),
        2.3px 2.5px 12.9px -6px rgba(0, 0, 0, 0.242),
        5.2px 5.5px 19.6px -6px rgba(0, 0, 0, 0.254),
        9.8px 10.5px 28.3px -6px rgba(0, 0, 0, 0.262),
        17.4px 18.6px 39.5px -6px rgba(0, 0, 0, 0.268),
        30.4px 32.6px 53.3px -6px rgba(0, 0, 0, 0.273),
        56.3px 60.4px 68.9px -6px rgba(0, 0, 0, 0.279),
        124px 133px 80px -6px rgba(0, 0, 0, 0.29);
        min-width: 600px;
        min-height: 600px;
    }
}
/*fim do css fora*/
@media (max-width: 650px){
   
    #logo{
        max-width: 150px;
        margin: 0;
        padding: 0;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;   
    }
    a:hover{
        border-radius: 0%;
    }
    #nav{
        text-align: center;
    }
    #nav.active #menu{  
        visibility: visible;
        height: calc(65vh - 70px);
        overflow-y: auto;
        text-align: center;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 3px;
        transition: .4s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent ;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -5px;  
    }
    h1{
        font-size: 1.2rem;
    }
    .main .swiper-button-next, .main .swiper-button-prev{
        display: none;
    }
    
    .map{
        text-align: center;
        margin-top: 0.7em;
        font-size: 2em;
        letter-spacing: 3px;
        outline: #d44848;
    }
    
    .map #maps iframe{
        min-width: 280px;
        min-height: 200px;
        margin: 0;
        padding: 0;
        border: 0;
        margin-bottom: 2em; 
        box-shadow:
        -0.3px -0.3px 1.6px -6px rgba(0, 0, 0, 0.15),
        -0.1px -0.1px 4.1px -6px rgba(0, 0, 0, 0.197),
        0.7px 0.7px 7.8px -6px rgba(0, 0, 0, 0.225),
        2.3px 2.5px 12.9px -6px rgba(0, 0, 0, 0.242),
        5.2px 5.5px 19.6px -6px rgba(0, 0, 0, 0.254),
        9.8px 10.5px 28.3px -6px rgba(0, 0, 0, 0.262),
        17.4px 18.6px 39.5px -6px rgba(0, 0, 0, 0.268),
        30.4px 32.6px 53.3px -6px rgba(0, 0, 0, 0.273),
        56.3px 60.4px 68.9px -6px rgba(0, 0, 0, 0.279),
        124px 133px 80px -6px rgba(0, 0, 0, 0.29);
    }
}